[submodule "main/simulator/b64"]
	path = simulator/b64
	url = https://github.com/littlstar/b64.c.git
[submodule "main/simulator/cJSON"]
	path = simulator/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "simulator/freertos-simulator"]
	path = simulator/freertos-simulator
	url = https://github.com/Maldus512/freertos-simulator.git
[submodule "components/c-debounce"]
	path = components/c-debounce
	url = https://github.com/Maldus512/c-debounce.git
[submodule "components/c-page-manager"]
	path = components/c-page-manager
	url = https://github.com/Maldus512/c-page-manager.git
[submodule "components/c-state"]
	path = components/c-state
	url = https://github.com/Maldus512/c-state.git
[submodule "components/c-watcher"]
	path = components/c-watcher
	url = https://github.com/Maldus512/c-watcher.git
[submodule "components/c-stopwatch"]
	path = components/c-stopwatch
	url = https://github.com/Maldus512/c-stopwatch.git
